@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

body{
    display:grid;
    place-content:center;
    width:100vw;
    height:100vh;
    background:#f1c40f;
    overflow:hidden;
}

/* wrapper để scale */
.flipbook-wrapper{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}

/* Flipbook gốc */
.flipbook{
    width:1123px;
    height:450px;
    transform-origin:top left;
}

/* Page */
.flipbook .page{
    display:flex;
    justify-content:center;
    align-items:center;
    background:white;
}

.page img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.hard{
    background:#c0392b !important;
    color:white;
    font-weight:bold;
}

/* ===== VIDEO OVERLAY ===== */
#video-overlay{
    position:absolute;
    width:1123px;
    height:450px;
    display:none;
    z-index:9999;
    pointer-events:auto;
}

#video-overlay video{
    width:100%;
    height:100%;
    object-fit:cover;
}

.seekbar{
    position:absolute;
    bottom:10px;
    width:100%;
    height:6px;
    appearance:none;
    background:#ddd;
    border-radius:5px;
}

.seekbar::-webkit-slider-thumb{
    appearance:none;
    width:12px;
    height:12px;
    background:#000;
    border-radius:50%;
}
