@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: #f1c40f;
}

/* Flipbook kích thước chuẩn */
.flipbook {
    width: 1123px;
    height: 450px;
}

/* Bìa */
.flipbook .hard {
    background: #c0392b !important;
    color: #fff;
    font-weight: bold;
    border: none;
}

.flipbook .hard small {
    font-style: italic;
    opacity: 0.7;
    font-size: 14px;
}

/* Trang */
.flipbook .page {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.11);
}

/* Ảnh */
.page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page.video-page {
    position: relative;
}

.video-overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    pointer-events: none; /* video nhận click sau */
    z-index: 50;

    /* tách overlay khỏi transform */
    transform: none !important;
}

/* Video */
.video-ui {
    width: 100%;
    height: 100%;
    object-fit: cover;

    pointer-events: auto; /* nhận click play/pause */
}

/* Seekbar */
.seekbar {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    z-index: 99;
    pointer-events: auto;
}

/* Tắt transform của TurnJS lên overlay */
.page.video-page,
.video-overlay,
.video-ui {
    backface-visibility: hidden !important;
    transform: none !important;
}

/* TurnJS internal fix */
.flipbook .page-wrapper {
    backface-visibility: hidden !important;
}

